
@{
    ViewBag.Title = "PopuniOsobu";
}
<style>
    label {
        width: 100px;
    }
</style>

<h2>PopuniOsobu</h2>

<div>
    <form method="post" action="/Osoba/PrikaziOsobu">
        <div>
            <label>Ime:</label>
            <input type="text" name="Ime"/>
        </div>
        <div>
            <label>Prezime:</label>
            <input type="text" name="Prezime"/>
        </div>
        <div>
            <label>Email:</label>
            <input type="text" name="Email"/>
        </div>
        <div>
            <label>Datum:</label>
            <input type="text" name="DatumRodjenja"/>
        </div>
        <div>
            <button type="submit">Pošalji</button>
        </div>
    </form>
</div>
