USE [master]
GO
/****** Object:  Database [BozicniPokloni]    Script Date: 18.4.2019. 10:51:31 ******/
CREATE DATABASE [BozicniPokloni]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BozicniPokloni', FILENAME = N'C:\PROJECTS\MVC2019\Ispit\App_Data\BozicniPokloni.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BozicniPokloni_log', FILENAME = N'C:\PROJECTS\MVC2019\Ispit\App_Data\BozicniPokloni_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BozicniPokloni].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BozicniPokloni]
GO
USE [BozicniPokloni]
GO
/****** Object:  Table [dbo].[Pokloni]    Script Date: 18.4.2019. 10:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pokloni](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](50) NOT NULL,
	[Ime] [varchar](50) NOT NULL,
	[Stanje] [bit] NOT NULL,
 CONSTRAINT [PK__Pokloni__3214EC077D447D72] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
