
@{
    ViewBag.Title = "Stranica2";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Sadržaj stranice2</h2>

@section Detalji{
    <p style="background-color:lightblue;">Detalji stranice2</p>
    }