
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Prvi</title>
</head>
<body>
    <div>
        <p>
            Trenutačno vrijeme je: @ViewBag.Vrijeme
        </p>    
    </div>
</body>
</html>
