
@{
    Layout = null;
}

<!DOCTYPE>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PopisKosarice</title>
    <style>
        body {
            padding: 10px 10px 10px 10px 
        }
        table, th, td{
            border: 1px solid black;
            border-collapse: collapse;
        }
        th,th{
            padding: 15px;
        }
        .rightAlign{
            text-align: center;
        }
        tr:nth-child(even){
            background-color: aquamarine;
        }
        thead{
            background-color: cadetblue;
        }
    </style>
</head>
<body>
    <div>
        <h1>Popis Košarice:</h1>
        <table>
            <thead>
                <tr>
                    <th>Artikal</th>
                    <th>Cijena</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Knjiga</td>
                    <td class="rightAlign">120KN</td>
                </tr>
                <tr>
                    <td>Film</td>
                    <td class="rightAlign">89KN</td>
                </tr>
                <tr>
                    <td>Glazbeni CD</td>
                    <td class="rightAlign">100KN</td>
                </tr>
                <tr>
                    <td>PC Igra</td>
                    <td class="rightAlign">250KN</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>


