
@{
    ViewBag.Title = "Stranica2";
}

<table class="tg">
    <tr>
        <th class="tg-eh0l">ID</th>
        <th class="tg-lobw">NAZIV</th>
        <th class="tg-lobw">KATEGORIJA</th>
    </tr>
    <tr>
        <td class="tg-6nh6">1</td>
        <td class="tg-2kxh">Titanic</td>
        <td class="tg-6nh6">Drama</td>
    </tr>
    <tr>
        <td class="tg-lunv">2</td>
        <td class="tg-3otw">Avangers</td>
        <td class="tg-lunv">Akcija</td>
    </tr>
</table>


@section Detalji{
      <p style="color:darkgreen; background-color:coral; padding:15px">Detalji stranice2</p>
}

