@{
    ViewBag.Title = "Stranica1";
}

<body>
<strong>Dobriša Cesarić: Oblak </strong>

    <img src="~/Slika/clouds-3.jpg" alt="prekrasan oblak">

<h4>U predvečerje, iznenada,</br>
Ni od kog iz dubine gledan,</br>
Pojavio se ponad grada</br>
Oblak jedan.</br>

Vjetar visine ga je njiho,</br>
I on je stao da se žari,</br>
Al oči sviju ljudi bjehu</br>
Uprte u zemne stvari.</br>

I svak je išo svojim putem:</br>
za vlašću, zlatom il za hljebom,</br>
A on - krvareći ljepotu -</br>
Svojim nebom.</br>

I plovio je sve to više,</br>
Ko da se kani dići do boga;</br>
Vjetar visine ga je njiho,</br>
Vjetar visine raznio ga.</h4>

</body>

