@model _4._2._1.Narudzba_artikala.Artikal
    <div class="moj-box-sa-vijugama">
       <h3> @Model.Naziv </h3 >
        @Model.Cijena -> Količina: @Model.Kolicina<br />
        <span>@Model.Kategorija</span>
    </div>
<br/>
